.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 80vi;
  max-width: 1000px;
  border: 3px solid lightblue;
  margin: 1rem;
  padding: 1rem;
  border-radius: 25px;
  background-color: lightblue;
}

.post-image {
  width: 100%;
}

.authod-date-likes {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}
.description {
  align-self: flex-start;
}
