#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 5rem;
  background-color: aliceblue;
}

/* Responsive header */
@media screen and (max-width: 800px) {
  #header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }
}
